.mid{
	display: block;
	overflow: hidden;
	// height: 255px;
}
#menu-tabs{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 70px;
	@media (max-width: 1023px){
		flex-direction: column;
		float: left;
		width: 190px;
	}
	@media (max-width: 767px){
		float: left;
			margin-top: 30px;
	}
 		li{
			width: 190px;
			margin: 0 80px 0 80px;
			@media (max-width: 767px){
				// width: 100px;
				padding:5px 0 25px 0;
				// border-bottom: 1px solid #cccccc;
				margin-left: 35px;
			}
				@media (max-width: 375px){
					width: 100px;
					float: left;
				}
		}
}
.tab-content{
	@media (max-width: 1023px){
		float: right;
		width: calc(100% - 190px);
	}
	@media (max-width: 767px){
		float: left;
		width: calc(100% - 190px);
	}
	@media (max-width: 375px){
		float: left;
		width: 100%;
	}

	.tab{
		display: block;
		overflow: hidden;
		width: 315px;
		.block{
			margin: 20px 0 0 25px;
			@media (max-width: 767px){
				margin: 50px 0 0 60px;
				overflow: visible;
				width: 53%;
			}
			h4{
				color: #adcdf9;
				font-size: 20px;
				text-align: center;
				margin-bottom: 10px;
			}
			p{
				color: #9f9f9f;
				text-align: center;
			}
		}

	}

}
